.me__resource{
	position: absolute;
	top: 56px;
	width: 100%;
	text-align: center;
	z-index: 10000;
}
.me__resource-wrap {
	border: 1px solid #666;
	padding: 10px 20px 20px 20px;
	width: calc(100% - 185px);
	background-color: white;
	float:right;
	margin-right: 10px;
	text-align: left;
	box-sizing: border-box;
}
.me__resource-wrap .close {
	font-size: 200%;
	float: right;
	cursor: pointer;
	margin-right: -15px;
	margin-top: -5px;
}
.me__resource-table {
	width: 100%;
}
.me__resource-table td, .me__resource-table th {
	padding: 5px;
}
.me__resource-table th {
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
}

.me__resource-table td {
	font-weight: bold;
	text-align: right;
	width: calc(80%/12);
	height: auto;
}


.me__resource-table td .under-utilized {
	background-color: #b2e5e2;
	padding:.25em 1em;
}

.me__resource-table td .over-utilized {
	background-color: #e96c52;
	padding:.25em 1em;
}
.me__resource-table td .utilized {
	background-color: #91c586;
	padding:.25em 1em;
}

.me__resource-table .user-row {
	background-color: #eee;
}
.me__resource-table .user-row td:first-child{
	font-weight: bold;
	width:20%;
}
.me__resource-table .workspace-row td:first-child{
	font-weight: bold;
	padding-left: 10px;
	width:20%;
}
.me__resource-table .assignment-row td:first-child{
	padding-left: 20px;
	width:20%;
}
.me__resource-table .assignment-row, .me__resource-table .workspace-row {
	display: none;
}

.me__resource-table .assignment-row td, .me__resource-table .workspace-row td {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}


.me__resource-table .trigger {
	cursor: pointer;
	position:relative;
}
.me__resource-table .triangle {
	width: 0;
	height:0;
	top: calc(50% - 10px);
	left: 10px;
	border-left: 5px solid #a9a9a9;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position:absolute;
}
.me__resource-table .open .triangle {
	border-top: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a9a9a9;
	border-bottom: none;
}
