.me__resource-table {
	position: absolute;
	z-index: 100000;
	background-color: white;
	top: 0;
}
.me__resource-table td, .me__resource-table th {
	padding: 5px;
}
.me__resource-table th {
	text-align: center;
	white-space: nowrap;
}
.me__resource-table td .under-utilized {
	background-color: yellow;
}
.me__resource-table td .over-utilized {
	background-color: red;
}
.me__resource-table td .utilized {
	background-color: green;
}
.me__resource-table .user-row td:first-child{
	font-weight: bold;
}
.me__resource-table .workspace-row td:first-child{
	font-weight: bold;
	padding-left: 20px;
}
.me__resource-table .assignment-row td:first-child{
	padding-left: 40px;
}
