.me__resource{
	position: absolute;
	top: 56px;
	width: 100%;
	text-align: center;
	z-index: 10000;
}
.me__resource-wrap {
	border: 1px solid #666;
	padding: 10px 20px 20px 20px;
	width: 90%;
	background-color: white;
	margin: 0 auto;
	text-align: left;
}
.me__resource-wrap .close {
	font-size: 200%;
	float: right;
	cursor: pointer;
	margin-right: -15px;
	margin-top: -5px;
}
.me__resource-table {
	width: 100%;
}
.me__resource-table td, .me__resource-table th {
	padding: 5px;
}
.me__resource-table th {
	text-align: center;
	white-space: nowrap;
}
.me__resource-table td .under-utilized {
	background-color: yellow;
}
.me__resource-table td .over-utilized {
	background-color: red;
}
.me__resource-table td .utilized {
	background-color: green;
}
.me__resource-table .user-row {
	background-color: #eee;
}
.me__resource-table .user-row td:first-child{
	font-weight: bold;
}
.me__resource-table .workspace-row td:first-child{
	font-weight: bold;
	padding-left: 20px;
}
.me__resource-table .assignment-row td:first-child{
	padding-left: 40px;
}
.me__resource-table .assignment-row, .me__resource-table .workspace-row {
	display: none;
}
.me__resource-table .trigger {
	cursor: pointer;
}
.me__resource-table .triangle {
	width: 0;
	height:0;
	float: left;
	margin: 5px 5px 0 5px;
	border-left: 5px solid #a9a9a9;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.me__resource-table .open .triangle {
	border-top: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a9a9a9;
	border-bottom: none;
}
